.todo-container , .check-box{
    color: blue;
    cursor: pointer;
    margin: 10px auto;
}
.todo-container{

    p , button ,.content ,.check-box,.todo{
        display: inline;
    }
    .edit{
        display: none;
    }
    .check-box{
        text-decoration: none !important;
    }
    .content{
        padding: 0 10px;
    }
}

.task-accomplished{
    text-decoration:line-through;
    text-decoration-color: rgba(0, 0, 0, 0.562);
    text-decoration-thickness: 2px;
}
